# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto
#
# The above will handle all files NOT found below
#
.gitignore      text eol=lf
.gitattributes  text eol=lf
.env            text eol=lf
.env.*          text eol=lf
*.htaccess      text eol=lf
*.css           text eol=lf
*.less          text eol=lf
*.htm           text eol=lf
*.html          text eol=lf
*.tpl           text eol=lf
*.twig          text eol=lf
*.java          text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.php           text eol=lf
*.phps          text eol=lf
*.properties    text eol=lf
*.sh            text eol=lf
*.sql           text eol=lf
*.svg           text eol=lf
*.tld           text eol=lf
*.txt           text eol=lf
*.xml           text eol=lf
*.xml.dist      text eol=lf
*.yml           text eol=lf
*.yml.dist      text eol=lf
*.md            text eol=lf
composer.lock   text eol=lf
yarn.lock       text eol=lf
.bowerrc        text eol=lf
# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.dll           binary
*.exe           binary
*.z             binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
