{% trans_default_domain 'FOSUserBundle' %}

{% embed 'components/card.html.twig' %}
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
{% endembed %}
